#comments {
  width: 669px;
  /* remove this padding upon page implmentation */
  padding:10px;

}

#comments_list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0px;
}
.comments_title {
  color: #999;
  font-size: 13px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
.comments_icon {
  color: #999;
}

.comments_hr {
  height: 1px;
  background-color: #eee;
  border: none;
}

.comment_profile_pic {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: left;
  display: block;
  margin-right: 1em;
  /* text-align: center;
  position: relative;
  background-repeat: no-repeat; */
}

.comment_container {
  list-style-type:none;
  padding: 10px 10px 10px 0;
}

.comment_container_reply {
  list-style-type:none;
  margin-left:20px;
  padding: 10px 10px 10px 0;
}

.comment_username {
  color: #999;
  font-size: 13px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.comment_timestamp {
  color: #999;
  font-size: 11px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.comment_at {
  color: #ccc;
  font-size: 11px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}


.comment_postedAt {
  float: right;
  color: #999;
  font-size: 11px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.comment_text_container {
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #111;
  display: block;
  margin-left: 1em;
  margin-right: 1em;
  overflow:hidden;


}

.comment_text {
  margin: 0px;
}

